<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Comania de Agua - La Reunión
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> 
  
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>Administre motor 1</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-toggle [(ngModel)]="isOn" readonly></ion-toggle>
        <ion-label>
          Estado del motor: {{isOn ? "Encendido" : "Apagado"}}
        </ion-label>
      </ion-item>
      <ion-item *ngIf="!isOn">
        <ion-button color="primary" (click)="encenderMotor()" size="small">Encender Motor</ion-button>      
      </ion-item>
      <ion-item *ngIf="isOn">
        <ion-button color="secondary" (click)="apagarMotor()" size="small">Apagar Motor</ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>Administre motor 2</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-toggle [(ngModel)]="isOn" readonly></ion-toggle>
        <ion-label>
          Estado del motor: {{isOn ? "Encendido" : "Apagado"}}
        </ion-label>
      </ion-item>
      <ion-item *ngIf="!isOn">
        <ion-button color="primary" (click)="encenderMotor()" size="small">Encender Motor</ion-button>      
      </ion-item>
      <ion-item *ngIf="isOn">
        <ion-button color="secondary" (click)="apagarMotor()" size="small">Apagar Motor</ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-note color="primary">{{appHashString}}</ion-note>
  <br>
  <ion-note>{{smsTextmessage}}</ion-note>
</ion-content>
