<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Compañía de Agua - La Reunión
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> 
  
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>Administre motor 1</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-toggle [(ngModel)]="isOn1" readonly></ion-toggle>
        <ion-label>
          Estado del motor: {{isOn1 ? "Encendido" : "Apagado"}}
        </ion-label>
      </ion-item>
      <ion-item *ngIf="!isOn1">
        <ion-button color="primary" (click)="encenderMotor()" size="small">Encender Motor</ion-button>      
      </ion-item>
      <ion-item *ngIf="isOn1">
        <ion-button color="secondary" (click)="apagarMotor()" size="small">Apagar Motor</ion-button>
      </ion-item>
      <ion-item>
        <ion-list style="width: 100%;">
          <ion-list-header>
              Nivel del agua: {{level1 | percent }}  
          </ion-list-header>   
          <ion-progress-bar color="secondary" [value]="level1"></ion-progress-bar>       
          <ion-button color="tertiary" (click)="consultarNivel()" size="small">Consultar nivel</ion-button>      
        </ion-list>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>Administre motor 2</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-toggle [(ngModel)]="isOn2" readonly></ion-toggle>
        <ion-label>
          Estado del motor: {{isOn2 ? "Encendido" : "Apagado"}}
        </ion-label>
      </ion-item>
      <ion-item *ngIf="!isOn2">
        <ion-button color="primary" (click)="encenderMotor(false)" size="small">Encender Motor</ion-button>      
      </ion-item>
      <ion-item *ngIf="isOn2">
        <ion-button color="secondary" (click)="apagarMotor(false)" size="small">Apagar Motor</ion-button>
      </ion-item>
      <ion-item>
        <ion-list style="width: 100%;">
          <ion-list-header>
              Nivel del agua: {{level2 | percent}}
          </ion-list-header>   
          <ion-progress-bar color="secondary" [value]="level2"></ion-progress-bar>       
          <ion-button color="tertiary" (click)="consultarNivel(false)" size="small">Consultar nivel</ion-button>      
        </ion-list>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-note color="primary">{{appHashString}}</ion-note>
</ion-content>
